@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #12172b;
  font-family: 'Arial', sans-serif;
}

.container {
  margin: 20px 40px;
  color: white;
}

/* .heading {
  font-size: 60px;
  color: white;
  align-self: center;
} */

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px;
  
}

.profile {
  flex-basis: 260px;
}

.profile .profile-img {
  /* height: 260px; 
  width: 260px; */
  height: 240px; 
  width: 240px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 32px;
  text-align: center;
}

.profile h5 {
  font-size: 20px;
  font-weight: 100;
  /* letter-spacing: 3px; */
  color: #ccc;
  text-align: center;
}
.profile h6 {
  font-size: 17px;
  font-weight: 80;
  /* letter-spacing: 3px; */
  color: #ccc;
  text-align: center;
}

.profile p {
  font-size: 15px;
  margin-top: 5px;
  text-align: left;
}

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    /* margin: 20px 10px 10px 10px; */
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}
